body{
    background: rgb(219, 146, 146);
    margin: 0;
    padding: 0;
    text-decoration: none;
    

}

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.column{
    float: left;
    width: 25%;
    margin-bottom: 10px;
    padding: 0 8px;
}

img{
    border-radius: 4px;
    width: 40px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section{
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color:white;
}

.containers{
    padding: 0 16px;
}

.containers::after, .ranger::after {
    content:"";
    clear: both;
    display: table;
}

.title {
    color:grey;
}

.button{
    border:none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover{
    background-color: #555;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 1000;
    background: linear-gradient(to right, rgb(196, 55, 177), rgba(234, 227, 83, 0.867));
    color: #ffff;
    padding: 100px 0 30px;
    font-size: 13px;
    border-top-left-radius: 125px;
    line-height: 20px;

}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis:25%;
    padding: 10px;

}
